

form#contactForm{
    background:cadetblue;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    counter-reset:fieldsets;
    border-radius: 15px;
    border-width: 15px;
    border-color: #000000;
    padding:20px;
    width:500px;
    margin:auto;
}
form#contactForm fieldset{
    border:none;
    margin-bottom: 10px;
}
form#contactForm fieldset:last-of-type{
    margin-bottom: 0;
}
/*form#contactForm legend{
    color: maroon;
    padding-bottom:10px;
    font-weight:bold;
    font-family: 'Tangerine', serif;
    font-size: 1.5em;
}*/

form#contactForm textarea{
    height:200px;
}

form#contactForm > fieldset > legend:before {
    content: "Step " counter(fieldsets) ": ";
    counter-increment: fieldsets;
}
form#contactForm fieldset fieldset legend{
    color:#111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom:0;
}
form#contactForm ol li {
    background: #b9cf6a;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form#contactForm label {
    float: left;
    font-size: 0.7em;
    color:black;
    font-weight:bold;
    width: 200px;
}

form#contactForm fieldset fieldset label:hover {
    cursor: pointer;
}


form#contactForm input:not([type=radio]),
form#contactForm textarea {
    background:lightgray;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 400px;
}
form#contactForm input:not([type=submit]):focus,
form#contactForm textarea:focus {
    background-color: white;
}

form#contactForm button {
    background: black;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;

    display: block;
    margin: auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;


    color: white;
    font-family: 'Muli', sans-serif;
    font-size:1em;

}

form#contactForm button:enabled{
    background-color: black;
    cursor: default;
}

form#contactForm button:hover {
/*    -moz-box-shadow: 0 0 20px darkRed;
    -webkit-box-shadow: 0 0 20px darkRed;
    box-shadow: 0 0 20px darkRed;*/
    cursor: pointer;
}