


/*-----------------------------------
	Movie session
-----------------------------------*/
.fluidContain{
    padding-left: 25px ;
    margin-bottom: 40px;
}


.movieDisplay{
    border: 2px solid #a1a1a1;

    background: #dddddd;
    border-radius: 25px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    max-height: 50px;
}



#movieName{
    color: #4ea6bc;
    font-size :18px;
    font-weight: bold;
    float :left;
    width: 50%;
    padding-left: 7px;
}

#movieDay{
    color: #0e711b;
    font-size :18px;
    font-weight: bold;
}

#movieTime{
    color: #0e711b;
    font-size :18px;
    font-weight: bold;
    width: 10%;

}

#itemsToAdd{
    list-style-type: none;
}


/* ticket buttons  */
.TicketContainer{
    background-color: #f2f6f9;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    padding: 10px 0 5px 13px;
}

.TicketBtn{
    margin-bottom:9px;
    margin-right:3px;
}

.Bt1{
    margin-left:10px;
}
.row span{
    padding: 20px 0 6px 0;
}


/*-----------------------------------
Client Info
-------------------------------------*/

.clientDisplay{
    border: 2px solid #a1a1a1;

    background: #dddddd;
    border-radius: 25px;
    padding: 10px;

    display: flex;
    justify-content: space-between;

}

.clientBtn{
    margin: 5px;
}



/*-----------------------------------
Selected items list
-------------------------------------*/


.itemsList{
   background-color: #f2f6f9;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
}

#itemsToAdd{
    padding-right: 20px;
    padding-top: 20px;
}

/*    Generic Row   */

.row{
    box-shadow: 0 0 0 #e1e5e8;
    padding-bottom :0;
    padding-left: 0.2%;
    background-color: #f2f6f9;
    margin-bottom: 3px;
    margin-top: 3px;
    border-style: dashed;
    border-width: 1px 0 0 0;
    border-color: #858e97;
}

.row span{
    padding: 20px 0 6px 0;

}


/*table heading*/
.columnCaptions{
    background-color: #f2f6f9;
    color: #7e93a7;
    border-width: 0 0 0 0;


}

.columnCaptions span{
    padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
    float: right;
    padding-right: 50px;
}

/* Items */
.quantity{
    color: #4ea6bc;
    font-size :1em;
    font-weight: bold;
    float : left;
    width: 42px;
    padding-left: 7px;
}


.TicketOrdered{
    color: #727578;
    font-size : 1em;
    font-weight: bold;
    float: left;
    padding-left:25px;
}


.price{
    color: #f06953;
    font-size :1em;
    font-weight: bold;
    float: right;
}




.delBtn {
    background-color: #e6edf3;
    margin-left: 5px;

    height: 100%;
    width: 40px;
    padding: 0;
    float: right;
    cursor: pointer;
}

/*in the movie display*/
.popBtnDark {
    background-color: #dddddd;
    max-height: 35px;
}


.arrow{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #858e97;
}





/* Totals */


#summed{
    background-color: #f2f6f9;
    padding-top: 0;
    margin-right: 30px;
    padding-right: 0;
    box-shadow: none;
    border-style: solid;
    border-width: 1px 0 0 0 ;
}

.bookingRow{
    margin-right: 10px;
    padding-right: 20px;
    box-shadow: none;
}


/* buttons at the bottom */
#reject{
    display: inline-block;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}

#order{
    display: inline-block;
    float: right;
    margin-top: 20px;
    cursor: pointer;
}


/*!* Popovers *!
.popover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border: 0;
    background-color: #ffffff;
}

.popover.bottom{
    margin-top: -9px;
}*/


.glyphicon-remove{
    font-size: 24px;
    color: #f06953;
    padding-left:25%;
    margin: auto;
}